    <h1>비밀번호 변경</h1>

    <form action="/changepw_process/<%=usId%>" method="post">
          <label class="col-sm-2 col-form-label">새 비밀번호</label>
          <div class="col-sm-5">
            <input type="password" class="form-control" name="pw_new" maxlength="20">
            <button type="submit" class="btn btn-primary">Change</button>
          </div>
        </div>
              

    </form>